body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-arimo: Arimo;
  --font-petrona: Petrona;
  --font-arbutus-slab: "Arbutus Slab";
  --font-salsa: Salsa;
  --font-archivo-black: "Archivo Black";
  --font-archivo: Archivo;
  --font-aoboshi-one: "Aoboshi One";
  --font-abhaya-libre-extrabold: "Abhaya Libre ExtraBold";
  --font-fraunces: Fraunces;

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-14xl: 2.063rem;
  --font-size-7xl: 1.625rem;
  --font-size-mid: 1.063rem;
  --font-size-3xl: 1.375rem;
  --font-size-lg: 1.125rem;
  --font-size-6xl: 1.563rem;
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-8xl: 1.688rem;
  --font-size-11xl: 1.875rem;
  --font-size-mini: 0.938rem;
  --font-size-lgi: 1.188rem;
  --font-size-4xl: 1.438rem;
  --font-size-3xs: 0.625rem;
  --font-size-46xl: 4.063rem;
  --font-size-20xl: 2.438rem;
  --font-size-33xl: 3.25rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-2xs: 0.688rem;

  /* Colors */
  --color-gray-100: #fffefe;
  --color-gray-200: #fffefd;
  --color-gray-300: #938f8f;
  --color-gray-400: #8a847f;
  --color-gray-500: #10100f;
  --color-gray-600: #0f0f0f;
  --color-gray-700: #0f0e0e;
  --color-gray-800: #0c0c0c;
  --color-gray-900: #090909;
  --color-gray-1000: #080808;
  --color-gray-1100: #070707;
  --color-gray-1200: rgba(9, 9, 9, 0.63);
  --color-gray-1300: rgba(147, 146, 145, 0.63);
  --color-gray-1500: rgba(13, 5, 5, 0.66);
  --color-gray-1400: rgba(0, 0, 0, 0.36);
  --color-whitesmoke: #f9f6f6;
  --color-darkgray-100: #b3b0aa;
  --color-darkgray-200: #a8978e;
  --color-darkgray-300: #979a9d;
  --color-darkgray-400: rgba(169, 168, 168, 0.23);
  --color-forestgreen: #107e1b;
  --color-lavender: #d0d5e4;
  --color-lightsteelblue: #b8bacc;
  --color-darkslateblue: #4e5388;
  --color-black: #000;
  --color-snow-100: #fffcfc;
  --color-snow-200: #fffbfb;
  --color-snow-300: #fff9f9;
  --color-snow-400: #fbf8f8;
  --color-snow-500: #fbf7f7;
  --color-snow-600: rgba(251, 248, 248, 0);
  --color-darkslategray-100: #4b4a49;
  --color-darkslategray-200: #333;
  --color-silver-100: #c6bbb2;
  --color-silver-200: rgba(198, 187, 178, 0);
  --color-saddlebrown-100: #a45309;
  --color-saddlebrown-200: #7b3c0e;
  --color-saddlebrown-300: #5b3f0b;
  --color-saddlebrown-400: rgba(77, 40, 5, 0.04);
  --color-dimgray-100: #716b6b;
  --color-dimgray-200: #676461;
  --color-dimgray-300: #605e5e;
  --color-dimgray-400: #565553;
  --color-dimgray-500: #535050;
  --color-dimgray-600: #514f4f;
  --color-dimgray-700: #4d4f4c;
  --color-dimgray-800: #4d4c4a;
  --color-gainsboro-100: #e6e0e0;
  --color-gainsboro-200: #e6dddd;
  --color-gainsboro-300: #e3dede;
  --color-gainsboro-400: #dbd8d8;
  --color-green-100: #379a09;
  --color-green-200: #268b02;
  --color-ghostwhite: #f9f8ff;
  --color-white: #fff;
  --color-burlywood-100: #ffc188;
  --color-darkolivegreen-100: rgba(71, 52, 14, 0.46);
  --color-tan: rgba(167, 127, 81, 0.07);
  --color-lightgray-100: #d7d4ca;
  --color-lightgray-200: #cbcbcb;
  --color-moccasin: #fde6b8;
  --color-wheat: #e3cc9e;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-xs: 0.75rem;
  --gap-2xs: 0.687rem;
  --gap-10xs: 0.187rem;
  --gap-9xs: 0.25rem;
  --gap-8xs: 0.312rem;
  --gap-6xl: 1.562rem;
  --gap-15xl: 2.125rem;
  --gap-mid: 1.062rem;
  --gap-62xl: 5.062rem;
  --gap-21xl: 2.5rem;
  --gap-6xs: 0.437rem;
  --gap-25xl: 2.75rem;
  --gap-70xl: 5.562rem;
  --gap-10xl: 1.812rem;
  --gap-mini: 0.937rem;
  --gap-smi: 0.812rem;
  --gap-5xs: 0.5rem;
  --gap-20xl: 2.437rem;
  --gap-lgi: 1.187rem;
  --gap-11xs-5: 0.093rem;
  --gap-18xl: 2.312rem;
  --gap-lg: 1.125rem;
  --gap-4xl: 1.437rem;
  --gap-2xl: 1.312rem;
  --gap-23xl: 2.625rem;
  --gap-14xl: 2.062rem;
  --gap-base: 1rem;
  --gap-12xs: 0.062rem;
  --gap-sm: 0.875rem;
  --gap-10xs-5: 0.156rem;
  --gap-53xl: 4.5rem;
  --gap-8xs-4: 0.275rem;
  --gap-7xs: 0.375rem;
  --gap-3xs: 0.625rem;
  --gap-2xs-5: 0.656rem;
  --gap-lg-2: 1.137rem;
  --gap-lgi-6: 1.225rem;
  --gap-11xs: 0.125rem;
  --gap-60xl: 4.937rem;
  --gap-8xl-8: 1.737rem;
  --gap-168xl: 11.687rem;
  --gap-28xl: 2.937rem;
  --gap-74xl: 5.812rem;
  --gap-17xl: 2.25rem;
  --gap-3xl: 1.375rem;
  --gap-base-5: 0.968rem;
  --gap-19xl: 2.375rem;
  --gap-mid-2: 1.075rem;
  --gap-35xl: 3.375rem;
  --gap-4xs: 0.562rem;
  --gap-42xl: 3.812rem;
  --gap-11xl: 1.875rem;
  --gap-16xl: 2.187rem;
  --gap-10xs-2: 0.137rem;
  --gap-43xl: 3.875rem;
  --gap-41xl: 3.75rem;
  --gap-31xl: 3.125rem;
  --gap-10xs-3: 0.143rem;
  --gap-22xl: 2.562rem;
  --gap-47xl: 4.125rem;
  --gap-sm-5: 0.843rem;
  --gap-lgi-5: 1.218rem;
  --gap-26xl: 2.812rem;
  --gap-50xl: 4.312rem;
  --gap-32xl: 3.187rem;
  --gap-12xs-5: 0.031rem;
  --gap-10xl-8: 1.862rem;
  --gap-smi-9: 0.806rem;
  --gap-6xs-1: 0.381rem;
  --gap-sm-9: 0.868rem;
  --gap-12xl: 1.937rem;
  --gap-13xl: 2rem;
  --gap-5xl: 1.5rem;
  --gap-smi-7: 0.793rem;
  --gap-8xl: 1.687rem;
  --gap-9xl: 1.75rem;
  --gap-smi-2: 0.762rem;
  --gap-xs-8: 0.737rem;
  --gap-xl-2: 1.262rem;
  --gap-29xl: 3rem;

  /* Paddings */
  --padding-25xl: 2.75rem;
  --padding-32xl: 3.187rem;
  --padding-39xl: 3.625rem;
  --padding-72xl: 5.687rem;
  --padding-26xl: 2.812rem;
  --padding-6xl: 1.562rem;
  --padding-xl: 1.25rem;
  --padding-4xs: 0.562rem;
  --padding-8xl: 1.687rem;
  --padding-sm: 0.875rem;
  --padding-4xl: 1.437rem;
  --padding-mini: 0.937rem;
  --padding-xs: 0.75rem;
  --padding-20xl: 2.437rem;
  --padding-12xs: 0.062rem;
  --padding-3xl: 1.375rem;
  --padding-10xs: 0.187rem;
  --padding-base: 1rem;
  --padding-5xs: 0.5rem;
  --padding-11xs: 0.125rem;
  --padding-9xs: 0.25rem;
  --padding-33xl: 3.25rem;
  --padding-54xl: 4.562rem;
  --padding-30xl: 3.062rem;
  --padding-17xl: 2.25rem;
  --padding-10xl: 1.812rem;
  --padding-lg: 1.125rem;
  --padding-smi: 0.812rem;
  --padding-2xl: 1.312rem;
  --padding-8xs: 0.312rem;
  --padding-3xs: 0.625rem;
  --padding-78xl: 6.062rem;
  --padding-11xl: 1.875rem;
  --padding-40xl: 3.687rem;
  --padding-7xs: 0.375rem;
  --padding-16xl: 2.187rem;
  --padding-14xl: 2.062rem;
  --padding-183xl: 12.625rem;
  --padding-112xl: 8.187rem;
  --padding-2xs: 0.687rem;
  --padding-29xl: 3rem;
  --padding-5xl: 1.5rem;
  --padding-45xl: 4rem;
  --padding-47xl: 4.125rem;
  --padding-35xl: 3.375rem;
  --padding-7xl: 1.625rem;
  --padding-28xl: 2.937rem;
  --padding-31xl: 3.125rem;
  --padding-13xl: 2rem;
  --padding-15xl: 2.125rem;
  --padding-34xl: 3.312rem;
  --padding-mid: 1.062rem;
  --padding-41xl: 3.75rem;
  --padding-6xs: 0.437rem;
  --padding-lgi: 1.187rem;
  --padding-43xl: 3.875rem;
  --padding-38xl: 3.562rem;
  --padding-12xl: 1.937rem;
  --padding-21xl: 2.5rem;
  --padding-9xl: 1.75rem;
  --padding-51xl: 4.375rem;
  --padding-19xl-6: 2.412rem;
  --padding-37xl: 3.5rem;
  --padding-250xl: 16.812rem;
  --padding-24xl: 2.687rem;
  --padding-23xl: 2.625rem;
  --padding-22xl: 2.562rem;
  --padding-27xl: 2.875rem;
  --padding-18xl: 2.312rem;
  --padding-52xl: 4.437rem;
  --padding-55xl: 4.625rem;
  --padding-50xl: 4.312rem;
  --padding-42xl: 3.812rem;
  --padding-145xl: 10.25rem;
  --padding-49xl: 4.25rem;
  --padding-19xl: 2.375rem;
  --padding-161xl: 11.25rem;
  --padding-3xs-1: 0.568rem;
  --padding-7xs-9: 0.368rem;
  --padding-5xs-4: 0.462rem;
  --padding-8xs-9: 0.306rem;
  --padding-mini-9: 0.931rem;
  --padding-3xs-7: 0.606rem;
  --padding-8xl-2: 1.7rem;
  --padding-sm-2: 0.825rem;
  --padding-190xl: 13.062rem;
  --padding-180xl: 12.437rem;
  --padding-110xl: 8.062rem;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-6xl: 25px;
  --br-6xs: 7px;
  --br-8xs: 5px;
  --br-4xl: 23px;
  --br-31xl: 50px;
  --br-11xl: 30px;
  --br-7xs: 6px;
  --br-10xs: 3px;
  --br-lgi: 19px;
  --br-12xs: 1px;
  --br-51xl: 70px;
}
