.fa6-solidtruck-pickup {
  width: 5rem;
  height: 3.625rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.image-72 {
  align-self: stretch;
  height: 25.938rem;
  position: relative;
  display: none;
}
.image-5-icon10 {
  height: calc(100% - 1px);
  width: 75.813rem;
  position: absolute;
  margin: 0 !important;
  top: 0.063rem;
  right: -0.875rem;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
}
.frame-child149 {
  height: 6.563rem;
  width: 74.938rem;
  position: relative;
  background-color: var(--color-gray-1500);
  display: none;
  max-width: 100%;
}
.noken-story20 {
  margin: 0;
  align-self: stretch;
  height: 2.063rem;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}
.noken-story-frame {
  width: 11.563rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
}
.frame-child150 {
  height: 4rem;
  width: 39rem;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-snow-400);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.icsharp-search-icon4 {
  height: 2rem;
  width: 1.813rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.frame-wrapper162,
.rectangle-parent78 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent78 {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-snow-400);
  border: 1px solid var(--color-black);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-mini) var(--padding-14xl) var(--padding-smi);
  z-index: 2;
}
.frame-wrapper162 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 0;
}
.image-6-icon7 {
  height: 3.688rem;
  width: 3.75rem;
  position: absolute;
  margin: 0 !important;
  right: -1.375rem;
  bottom: -0.375rem;
  border-radius: var(--br-31xl);
  object-fit: cover;
  cursor: pointer;
  z-index: 3;
}
.vector-icon45 {
  width: 2.813rem;
  flex: 1;
  position: relative;
  max-height: 100%;
  cursor: pointer;
  z-index: 2;
}
.image-6-parent,
.vector-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper4 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.image-6-parent {
  height: 3.563rem;
  width: 7.188rem;
  flex-direction: row;
  position: relative;
}
.frame-child151 {
  height: 2.063rem;
  width: 11.375rem;
  position: relative;
  border-radius: var(--br-4xl);
  background-color: var(--color-snow-600);
  border: 2px solid var(--color-snow-500);
  box-sizing: border-box;
  display: none;
}
.akun10 {
  width: 9.563rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3;
}
.rectangle-parent79 {
  align-self: stretch;
  border-radius: var(--br-4xl);
  background-color: var(--color-snow-600);
  border: 2px solid var(--color-snow-500);
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-8xs) var(--padding-4xl);
  z-index: 2;
}
.frame-wrapper163,
.image-5-container,
.rectangle-parent77,
.rectangle-parent79 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper163 {
  width: 11.375rem;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-snow-200);
  font-family: var(--font-archivo-black);
}
.image-5-container,
.rectangle-parent77 {
  flex-direction: row;
  max-width: 100%;
}
.rectangle-parent77 {
  flex: 1;
  background-color: var(--color-gray-1500);
  padding: var(--padding-xl) var(--padding-7xl) var(--padding-2xl)
    var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-10xs);
  z-index: 1;
}
.image-5-container {
  align-self: stretch;
  position: relative;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-burlywood-100);
  font-family: var(--font-salsa);
}
.frame-child152 {
  height: 3.063rem;
  width: 71.563rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.notifikasi-transaksi {
  width: 17.063rem;
  border: 0;
  outline: 0;
  font-family: var(--font-archivo-black);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  height: 1.688rem;
  position: relative;
  color: #492809;
  text-align: center;
  display: inline-block;
  padding: 0;
  z-index: 4;
}
.rectangle-parent80 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xl) var(--padding-3xs);
  max-width: 100%;
  z-index: 3;
}
.pembelian {
  position: relative;
  z-index: 3;
}
.pembelian-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.solardollar-bold-duotone-icon {
  height: 4.625rem;
  width: 4.938rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.solardollar-bold-duotone-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-sm);
}
.belum-bayar {
  position: relative;
  z-index: 3;
}
.frame-parent195 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--color-gray-600);
}
.uilprocess-icon {
  height: 3.75rem;
  width: 4.313rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.uilprocess-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 var(--padding-11xl);
}
.pesanan-diproses {
  position: relative;
  z-index: 3;
}
.frame-parent196 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-smi);
  color: var(--color-gray-600);
}
.vector-icon46 {
  height: 2.588rem;
  width: 5rem;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.vector-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-mini);
}
.sedang-dikirim {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 3;
}
.frame-parent197,
.frame-wrapper166 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent197 {
  justify-content: flex-start;
  gap: 1.693rem;
}
.frame-wrapper166 {
  width: 10rem;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.carbonlocation-filled-icon {
  height: 3.813rem;
  width: 4.625rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.carbonlocation-filled-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-mini);
}
.sampai-tujuan {
  position: relative;
  z-index: 3;
}
.frame-parent198,
.frame-wrapper167 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent198 {
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-wrapper167 {
  width: 9.625rem;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.icround-cancel-icon {
  height: 4.375rem;
  width: 4.625rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icround-cancel-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl);
}
.pesanan-dibatalkan {
  position: relative;
  z-index: 3;
}
.frame-parent199 {
  width: 9.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-parent194 {
  width: 61rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-wrapper165 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 5rem;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-arbutus-slab);
}
.frame-parent193,
.frame-wrapper164,
.frame-wrapper165 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent193 {
  flex: 1;
  flex-direction: column;
  gap: 1.156rem;
}
.frame-wrapper164 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-9xl);
  box-sizing: border-box;
}
.frame-child153 {
  height: 1.025rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 3;
}
.frame-parent192,
.vector-wrapper6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-wrapper6 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.frame-parent192 {
  flex-direction: column;
  padding: 0 0 3.975rem;
  gap: var(--gap-base-5);
}
.image-84-icon1 {
  height: 13.188rem;
  width: 11.938rem;
  position: absolute;
  margin: 0 !important;
  top: -10rem;
  right: 3.625rem;
  object-fit: cover;
  z-index: 3;
}
.belum-ada-notifikasi {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.image-84-group,
.notifikasi-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.image-84-group {
  width: 22.25rem;
  justify-content: flex-start;
  position: relative;
}
.notifikasi-inner {
  width: 70.375rem;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-800);
}
.frame-child154 {
  height: 12.063rem;
  width: 74.938rem;
  position: relative;
  background-color: var(--color-silver-100);
  display: none;
  max-width: 100%;
}
.layanan-pelanggan10 {
  position: relative;
  z-index: 1;
}
.hubungi-kami17 {
  margin: 0;
}
.hubungi-kami16 {
  width: 10.5rem;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-arbutus-slab);
  color: var(--color-dimgray-600);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.frame-wrapper168,
.layanan-pelanggan-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.layanan-pelanggan-parent4 {
  gap: var(--gap-smi);
}
.frame-wrapper168 {
  padding: var(--padding-7xs) 0 0;
}
.pembayaran10 {
  position: relative;
  z-index: 1;
}
.image-22-icon7 {
  height: 1.5rem;
  width: 2.125rem;
  position: absolute;
  margin: 0 !important;
  bottom: 0.25rem;
  left: 0.063rem;
  object-fit: contain;
  z-index: 1;
}
.pembayaran-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-19xl) var(--padding-12xs);
  position: relative;
}
.image-85-icon1 {
  height: 1.375rem;
  width: 3.375rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-85-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.image-24-icon7 {
  width: 3.375rem;
  height: 0.875rem;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frame-parent201,
.frame-wrapper169 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent201 {
  gap: var(--gap-smi);
}
.frame-wrapper169 {
  padding: var(--padding-10xs) var(--padding-13xl) 0 0;
}
.image-25-icon7,
.pengiriman10 {
  position: relative;
  z-index: 1;
}
.image-25-icon7 {
  height: 1.25rem;
  width: 1.938rem;
  object-fit: cover;
}
.image-25-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.image-26-icon7 {
  width: 3.75rem;
  height: 1.375rem;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frame-parent200,
.pengiriman-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm-5);
}
.frame-parent200 {
  flex-direction: row;
  gap: var(--gap-47xl);
  min-width: 35.375rem;
  max-width: 100%;
}
.frame-child155 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.image-27-icon10 {
  position: absolute;
  top: 0.938rem;
  left: 14.625rem;
  width: 9.75rem;
  height: 7.375rem;
  object-fit: contain;
  z-index: 2;
}
.noken-story21 {
  margin: 0;
  position: absolute;
  top: 3.688rem;
  left: 2.938rem;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 14.688rem;
  height: 1.938rem;
  z-index: 3;
}
.rectangle-parent82 {
  height: 10.125rem;
  width: 25.063rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  min-width: 25.063rem;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-saddlebrown-100);
  font-family: var(--font-salsa);
}
.notifikasi-child,
.rectangle-parent81 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent81 {
  flex: 1;
  background-color: var(--color-silver-100);
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-base)
    var(--padding-13xl);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-gray-1000);
  font-family: var(--font-archivo-black);
}
.notifikasi-child {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 78.937rem;
}
.text5 {
  align-self: stretch;
  width: 0;
  position: relative;
  display: inline-block;
}
.text-container {
  width: 59rem;
  height: 15.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 13.937rem;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mid);
  color: transparent;
  font-family: var(--font-arbutus-slab);
}
.image-23-icon7 {
  height: 1.375rem;
  width: 3.375rem;
  position: relative;
  object-fit: cover;
}
.image-23-wrapper2,
.notifikasi {
  display: flex;
  align-items: flex-start;
}
.image-23-wrapper2 {
  width: 51.25rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.notifikasi {
  width: 100%;
  height: 60.563rem;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10.312rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-700);
  font-family: var(--font-archivo-black);
}
@media screen and (max-width: 1200px) {
  .frame-wrapper165 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .notifikasi-child {
    padding-bottom: 51.313rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .frame-parent194 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent200,
  .rectangle-parent82 {
    flex: 1;
  }
  .rectangle-parent81 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .notifikasi {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent200 {
    flex-wrap: wrap;
    gap: var(--gap-14xl);
    min-width: 100%;
  }
  .rectangle-parent82 {
    min-width: 100%;
  }
  .notifikasi-child {
    padding-bottom: 33.375rem;
    box-sizing: border-box;
  }
  .notifikasi {
    gap: 5.125rem;
  }
}
@media screen and (max-width: 450px) {
  .notifikasi-transaksi {
    font-size: var(--font-size-xl);
  }
  .pembelian {
    font-size: var(--font-size-base);
  }
  .frame-parent192 {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .frame-parent200 {
    gap: var(--gap-base);
  }
  .notifikasi {
    gap: var(--gap-22xl);
  }
}
